$yellow: #EEC331;
$gray: #999999;
$bar-gray: #63686E;
$tick: #CBCCCF;
#{$MyChart-container} {
  /* Write your chart styles here */
  .axis .tick {
    line {
      stroke: $tick!important;
    }
    text {
      fill: $gray!important;
    }
  }
}
